html {

}


body {

}


/* Navbar styles */

/* Add underline effect on hover for navbar links */
.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

/* Add underline effect on hover for dropdown links */
.dropdown-menu .dropdown-item:hover {
    text-decoration: underline;
}

/* Show dropdown menu on hover */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}



/*  Main Banner Info styles */

.container-fluid.py-5 {
    color: black;
}