html {
    font-family: Arial, sans-serif; /* Specify a fallback font family */
    color: #0F1035; /* Text color */
}

body {
   
    min-height: 100vh;
    margin: 0; /* Remove default margin */
    color: #0F1035; /* Text color */
}

/*  custom button */
/* Dark primary button */
.btn.btn-primary.btn-lg {
    background-color: #365486; /* Background color */
    color: #DCF2F1; /* Text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
    border: none; /* Remove border */
}

.btn.btn-primary.btn-lg:hover {
    background-color: #7FC7D9; /* Change background color on hover */
    color: #0F1035; /* Change text color on hover */
}

/* Light primary button */
.btn.btn-primary {
    background-color: #7FC7D9; /* Background color */
    color: #0F1035; /* Text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
    border: none; /* Remove border */
}

.btn.btn-primary:hover {
    background-color: #DCF2F1; /* Change background color on hover */
    color: #365486; /* Change text color on hover */
}

.btn.btn-outline-primary {
    border-color: #365486; /* Adjust border color */
    color: #365486; /* Text color */
}

.btn.btn-outline-primary:hover {
    background-color: #DCF2F1; /* Change background color on hover */
    color: #365486; /* Change text color on hover */
    border-color: #7FC7D9; /* Adjust border color on hover */
}



/* Navbar styles */


.navbar-nav .nav-link {
    color: #0F1035; /* Navbar link color */
    text-decoration: none; /* Remove default underline */
}

.navbar-nav .nav-link:hover {
    text-decoration: underline; /* Add underline on hover */
}

.dropdown-menu .dropdown-item {
    color: #0F1035; /* Dropdown link color */
    text-decoration: none; /* Remove default underline */
    
}

/* Show dropdown menu on hover */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-item:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* Main Banner Info styles */
.banner {
    background-image: url('/images/banner-img.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0; /* Adjust padding as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #DCF2F1; /* Text color in the banner */
}

.banner-content {
    padding-top: 20px; /* Adjusted top padding */
    margin-top: 0; /* Removed top margin */
}

.banner-content h6 {
    margin-top: 0; /* Pin to the top of the container */
    font-size: 1.2em;
    color: #7FC7D9; /* Color for company name */
}

.banner-content h1 {
    margin-bottom: 20px;
}

.banner-content p {
    margin-bottom: 30px;
    font-size: 1.2em; /* Adjusted font size */
}

.banner-content .btn {
    background-color: #7FC7D9; /* Button background color */
    border-color: #7FC7D9; /* Button border color */
    color: #0F1035; /* Button text color */
}



/* Services Section */
.our-services {
    background-color: #DCF2F1; /* Background color */
    color: #365486; /* Text color */
}

.card {
    background-color: #fff; /* Card background color */
    border: none; /* Remove card border */
    border-radius: 10px; /* Adjust card border radius */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow to card */
    margin-bottom: 8px; /* Adjust the margin bottom to reduce the gap */
}

.card-title {
    color: #365486; /* Title color */
}

.card-text {
    color: #365486; /* Text color */
}

.img-fluid {
    border-radius: 10px; /* Adjust image border radius */
}

.text-body-secondary {
    color: #0F1035; /* Secondary text color */
}



/* Booking section */
.full-screen-image {
    position: relative;
    height: 100vh;
    background-image: url('/images/book-appt-banner.jpg');
    width: 1920px;
    height: 1080px;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 16, 53, 0.5); /* Adjust the opacity as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay .container {
    max-width: 600px;
    padding: 20px;
    color: white;
}

.overlay h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.overlay .btn {
    font-size: 1.2em;
}

/* Footer */
.bottom {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Distribute items evenly */
}

.footer-bottom {
    background-color: white; /* Footer background color */
    color: #0F1035; /* Footer text color */
    padding: 85px; /* Adjust padding as needed */
}


.footer-social a {
    color: #0F1035; /* Social media icon color */
    margin-left: 10px; /* Adjust spacing between icons */
}

.footer-bottom nav {
    width: 100%; /* Ensure footer spans full width */
}
